[submodule "rustpush"]
	path = rustpush
	url = https://github.com/OpenBubbles/rustpush.git
[submodule "telephony_plus"]
	path = telephony_plus
	url = https://github.com/OpenBubbles/telephony_plus.git
