<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>push</key>
        <dict>
                <key>token</key>
                <data>
                XN4HCZ6vIJTnn2ORjkabNYR0ZWr3G3bn4asC2Ouie3Y=
                </data>
                <key>keypair</key>
                <dict>
                        <key>cert</key>
                        <data>
                        MIICnjCCAgegAwIBAgIKANYEaxzqm1PNhTANBgkqhkiG9w0BAQUFADBaMQswCQYDVQQG
                        EwJVUzETMBEGA1UEChMKQXBwbGUgSW5jLjEVMBMGA1UECxMMQXBwbGUgaVBob25lMR8w
                        HQYDVQQDExZBcHBsZSBpUGhvbmUgRGV2aWNlIENBMB4XDTI1MTIyMzAyMzYyM1oXDTI2
                        MTIyMzAyNDEyM1owLzEtMCsGA1UEAxYkQzI5N0Y4NkUtQTVGOS00OUUxLUFDQkUtRTgy
                        OTdFMTA5M0EwMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQD1zqlxpaW6M+lWr6H8
                        pBtowIOSJl0sjeum+KDp3IfxpSNYBjZuWyVnl7iaXLI+FLved4VeodTuqf6bltW1iyIC
                        HOGpLH+O3wfeW0fT231eIGy4fVReswLklEQ1YJ1XgxaBj4tvh5x0Qlisj6eJIU13UpmE
                        +aJMlHAji/F+DwwYkQIDAQABo4GVMIGSMB8GA1UdIwQYMBaAFLL+ISNEhpVqedWBJo5z
                        ENinTI50MB0GA1UdDgQWBBRY/ObGpIGJwPyUjqbyx8pjXegqeDAMBgNVHRMBAf8EAjAA
                        MA4GA1UdDwEB/wQEAwIFoDAgBgNVHSUBAf8EFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIw
                        EAYKKoZIhvdjZAYKBAQCBQAwDQYJKoZIhvcNAQEFBQADgYEAid1PLHM44toxqWrFwrdE
                        NJyZrI4IQ3rsh8NEJsrsDhuPtnHXKk6sM+9n6Bl2M6hYGZfI8z7PtsZ9i3C0ipEz2v/o
                        3tWXFMSB69otIxu41FE42S4eN9FvdNvU5Jx6g5iVxhbzZCCRwMk9d9wFNalc/L/Bp5xl
                        IMRyZGEcugaCCdc=
                        </data>
                        <key>private</key>
                        <data>
                        MIICXQIBAAKBgQD1zqlxpaW6M+lWr6H8pBtowIOSJl0sjeum+KDp3IfxpSNYBjZuWyVn
                        l7iaXLI+FLved4VeodTuqf6bltW1iyICHOGpLH+O3wfeW0fT231eIGy4fVReswLklEQ1
                        YJ1XgxaBj4tvh5x0Qlisj6eJIU13UpmE+aJMlHAji/F+DwwYkQIDAQABAoGAO8NZUzZR
                        CuqgKuFc4w4LU/aqhpgpQzHmP5xnkzR5IPljlH0+Mqqad4td6Lns5EcqPjaVCKMUIErY
                        in+ryg3f4GWmCNqMQpdUde3YiMunutnScv48b2f+f+0txw4KUXkMog7Tr9DSkW45Avo8
                        L0PC7guf4LZkRJjmF+SUv9ZILrkCQQD7aKFOOmbZwve7grsDGBgIHnp9fJlH7GD/dUK9
                        5szkQdjLhzCYBr3c4dDQCroPKM00WBurUfyatiT8EZ56xdPvAkEA+kvYJF2PC0sM0yR0
                        xgHhNLjYSfMfKFmj4TE0kxMXTo/Yfb8uw9ij+MC2OtJ6b0Kdey8fXVYEH7pueAWXGo5b
                        fwJBALoCov5HNZu+ph5lTkquw/EV49j+nEZbvTSlJLluj3/+vBFyN+Dzc/x+U0np9dmL
                        fbBR1D8AjR5Gz7x0qMX7op8CQQD2zjjYSwUVHrELtmQLJ6lY4ngsGzb7A8Er+egcqnON
                        /Rt9izpi1cmCLQzD3e3qreY5pJKp53pzitMJOIHyJrOjAkAYGZ2okP2aWSrmUphmpOeQ
                        LdspsYHI8RGcr/xBqRHpjpLt9gUM6QI+qd9b2C/RTXdDunW8q/OsvnS4xv1dfQw3
                        </data>
                </dict>
        </dict>
        <key>identity</key>
        <dict>
                <key>legacy</key>
                <dict>
                        <key>signing_key</key>
                        <data>
                        MHcCAQEEIDHXn1vuwWAp9HuaRUOcWgseHkwbMS29nGbjDv/gcU+UoAoGCCqGSM49AwEH
                        oUQDQgAEEBqNIF8rnTwaT71StsB/N6Lo6aJBpeoa7lqsbFqBnkjtfDrJYzRL1Kd7vNNt
                        bMwhkFVXSONM3c48yZVo2agneA==
                        </data>
                        <key>encryption_key</key>
                        <data>
                        MIIC7AIBAAKBoQDQpHLqtQ/M00sN8ouUk6n6q/bPD8MNDz92lxVif+cyWOQ3CcZxq87V
                        wELEqRZy0f1hVdMYFVWO58Xhv7gZOwOWb1HFKXuv6mAVJ9t1SD5gxUuDMHQ1ZwEeaGQv
                        EqVMWuwZ7felz9YQF4f9Jqw3WentLPoXPHKS4ITWZe7sxvnUva/MZykTtCZAb0bqV1qj
                        DdXKUDYNpr54ujK7CapUX6/fAgMBAAECgaBSuoIecoC7VKST+TJDTXG+xWTtoXBTw1IE
                        sc926QRBQGHtOOEIvXkb5EoVNH6ENKNlbuRuzjbInTonUx+qUW4Qvj8MEHDMxgAnI1Cv
                        Zl/lel3gGCtm/sw1nqXX86/51Y5u+1jhUJDiCiix1FltWP7PitY0Ii5URe0iOCbV6kPx
                        hQzP/SB5n6MlBYSyEtIVGh0k/0UU9yONfeeiN3iNtG1xAlEA9dP65kTMQ0fKH30IOIe3
                        BJzE80i3m4oZLQv8ObDh2hrC1Po32VIw4ctQcE+h6XHbIFeYC0VjuxHISnT9M03zojjs
                        d0chPScZvl3mftJrlNsCUQDZRpEKQPh+8UmcNb1ZB8/l8mACXfyaaVrfdsfcfZQtInOL
                        t3IVTDq+zaM6GyxqIpqzWEKXNTirSf5P8ZV1OATXTtQ/gxOEx8VTyy/e6SreTQJRAObn
                        JAZinNKdffcxxCUFJR2J+1zg8sWAY8FyPooZ4SqydEsEdK0GjK+p/3Ze9iCGN2Mbo88C
                        cHjobQ+y75nfIHdBrKsk/s2oCoBLRxPcpfx9AlBH4fLGQ6xywv0pcxYLyGvdlYxx/ApA
                        Q67O04tXxSwqqoUzqiNSLIAa9AmWhbrx+jTYNNEDGZaABODgLfrWZwwi9298+66PdVAx
                        Yr2Zr+aA2QJQfsig0IlI5qkLF4U/i3oBjsi3FVwy8f0igXZA6oY0d/vgIMO51DqEW4fS
                        1yLe6+sojhGQVdQ98Zqf1RiY8hKT9bE/5ij6eRzGdb27E0IA1U8=
                        </data>
                </dict>
                <key>device_key</key>
                <data>
                MHcCAQEEICqTJ3QEJ4pOx+bQb2tjp1UnxQ1GJDxHXlVwcwwMkqaRoAoGCCqGSM49AwEH
                oUQDQgAED6hmAXjyKDJIf1O41HWSaNV4HIJ2u32nurqA4mSCaNBOlKDsnCQDf2GORPwU
                FKis2pbxk94sPk46A/TcPe9wCg==
                </data>
                <key>pre_key</key>
                <data>
                MHcCAQEEIOBTqbC8vgop7Auvif4SotXsOf4Z1//+STJJzIC/lpZnoAoGCCqGSM49AwEH
                oUQDQgAEbN4xyE/Hq7TUYWDEoxAO0BaGQdonhE8RoYfb38x7mxMx1gxqmXreh1yKlzfU
                IjmEMQejrdk/Y3Hov//8IYIgoQ==
                </data>
        </dict>
	<key>os_config</key>
	<dict>
		<key>type</key>
		<string>MacOS</string>
		<key>inner</key>
		<dict>
			<key>product_name</key>
			<string></string>
			<key>io_mac_address</key>
			<data>
			q83vq83v
			</data>
			<key>platform_serial_number</key>
			<string></string>
			<key>platform_uuid</key>
			<string></string>
			<key>root_disk_uuid</key>
			<string></string>
			<key>board_id</key>
			<string></string>
			<key>os_build_num</key>
			<string></string>
			<key>platform_serial_number_enc</key>
			<data>
			</data>
			<key>platform_uuid_enc</key>
			<data>
			</data>
			<key>root_disk_uuid_enc</key>
			<data>
			</data>
			<key>rom</key>
			<data>
			</data>
			<key>rom_enc</key>
			<data>
			</data>
			<key>mlb</key>
			<string></string>
			<key>mlb_enc</key>
			<data>
			</data>
		</dict>
		<key>version</key>
		<string>13.6.4</string>
		<key>protocol_version</key>
		<integer>1660</integer>
		<key>device_id</key>
		<string>F6DBB054-F2DF-578F-998E-325F18A4B74F</string>
		<key>icloud_ua</key>
		<string>com.apple.iCloudHelper/282 CFNetwork/1408.0.4 Darwin/22.5.0</string>
		<key>aoskit_version</key>
		<string>com.apple.AOSKit/282 (com.apple.accountsd/113)</string>
	</dict>
</dict>
