<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
        <dict>
                <key>auth_keypair</key>
                <dict>
                        <key>cert</key>
                        <data>
                        MIIIKTCCBxGgAwIBAgIRAP7xbXjfqBHw//////////8wDQYJKoZIhvcNAQEFBQAwbjEL
                        MAkGA1UEBhMCVVMxEzARBgNVBAoMCkFwcGxlIEluYy4xEjAQBgNVBAsMCUFwcGxlIElE
                        UzEOMAwGA1UEDwwFZHMtaWQxJjAkBgNVBAMMHUFwcGxlIElEUyBEUy1JRCBSZWFsbSBD
                        QSAtIFIxMB4XDTI1MTIyMzAyNDIxN1oXDTM1MTIyMTAyNDIxN1owXDELMAkGA1UEBhMC
                        VVMxEzARBgNVBAoMCkFwcGxlIEluYy4xCTAHBgNVBAsMADEOMAwGA1UEDwwFZHMtaWQx
                        HTAbBgoJkiaJk/IsZAEBDA1EOjIxNjM1ODM2MDEyMIIBIjANBgkqhkiG9w0BAQEFAAOC
                        AQ8AMIIBCgKCAQEAyS1OfBaxaM/cHx0XteJTng0wedP2mTq4uebAya8qrI8jqHQD46wi
                        QMUmSCWu+ufTQVlsbzDD7IpY3WfteOzBK/U7wVFiCoMCN9F8/rcxKe6/Yt3IaGZsq/y8
                        RcGQ8txLsWYbcZptmXuQJXdcQ1OG6JN/9G5+oCo+KJIRTndpdH9upF/3Y5LFEFlFJ2nJ
                        GyI0GwQBaVV8k/ZltJ388/k2/ADvZw4lv5wy0YhLgvl+jMu67ITOPlZqeBvNZoJ+hnxf
                        JUerzgNZUsgP/2pg2B/gAK2Ymwij9S+GrM9J6m7wAJmEJUYPSnNsoxPn7o6/J8wgbtVg
                        UwjwXo4IHK3sUOeT9QIDAQABo4IE0jCCBM4wggRKBgNVHREEggRBMIIEPaAgBgoqhkiG
                        92NkBgQEAxIAAwAAAAEAAAAAAAAGaAAAAACgggQXBgoqhkiG92NkBgQHA4IEBwBGVVNQ
                        AGMjnuDGrDQ7T/92lgt2SSgE5LIaI1BLLP71qM7XqO2IEDhtYnSZtLwgDxXYNha+KwNq
                        bciLj297p+g2JVNGUw2hLF+2T92lHCqQ2eetDfLsXLjhXwPN0gR08fgQu58sR/jpKe//
                        BIzZsMv1T1kRa04jOdqyMqy9MxPPtyN+sXlQJAmnCpbCWfK3dwOZ0/G0QdkY+wsGyR6Z
                        IsIanViYSFPJCJOscx5RIV3ojXSKsqlmrqyBRBaaiw2tpcSSj/IPyUIA5nMOvc4ogmcS
                        X5c4HFHA3VtPeP40SRPSb0AO2gNza2yLvgXehXG06xZc2UkPxblLrS9nX6nXHhJty+QO
                        EcOMSyTnpuxe+B94R+mjDTYR9ipyOC5BHhzSn/4yRcfoF6weIw//TCIjlnaBFfXXriP+
                        GJvyUJAuTSJ9E3IUc9oQ0iXDAr1C9YWnK3N4pyZDVFugcx4D+mWDAK8F3EZYkdy/DHVq
                        W+2HgddcguqUXxV8BTe0hS0/BWtuMup9CiAgjHx6cS7hWMeqQ1osgccBe83Cj1RBUuw2
                        wa6kyS1nvtXB2N0Z1flkKSfQ9r7cx2jVjFNeYxsedv5njxPDAAvFj95RASMTaKYRB9G0
                        88XCqaDjtBkoy5qcfxj0n8pcEmTCnwo8DnPi39quG0FfZvQANFUaV+R7QiBJkGfFiZPe
                        imA0+q+m49+Ir0bwqugRvNG3nITGxWeuq0i11MZC1rIIuilVDeONxEInY2odAH42WxZC
                        zMweEzYHThZfLQY0F4lLyj9wYN4VTPIM/tbD4pomKajAJFXRBUlV4THYlHtct/YNf8iL
                        SdjvGB8n7o3d3914f0mUN2B/xHpbt6c2oSrsKUJnqMm7WiFMxq7UvhR9/vp7Ex6ztWlW
                        LiL8HDtDoZJh1o5Eb4j31PIc2zNHS9ybkg1bSxq8L3NScSChbidl89oYnhOvkyp4+dix
                        huvW6fncYnGLK+/IwWx9JCrF5Prd23we16TXEiA/v36gFnMQT/3MM9jUiPLvhJ4ROBag
                        ufPQLWUqqTaM8+JKm8rB62QEadOpOIaLqhHsEgvFSeyu6RsRFPz7/vUouGS5QzB2BzCG
                        rVnHWB1MgJqFoJ4BMKls88pTQJJagoQCk0pCamrRM773NzQ4VeJ1yVkuDA9EGi1zf6iJ
                        aOC1GzaDXPXFvGD62su//kGlIt+M1qNTfqPB3oCPgmOXCaSrM/Ynfu0Im5Xfl7XLm/e7
                        PG+KnkimML2Kcgt3U4nLm9RuyWisFmD8RTvSlGSsqJl89n7rCSiK6Z4dOBQMAoyfsC80
                        JzZSk4W8W3055sCfaM6dN9wMdZJ8pLSQMetlhY0gFw2F230qdOUUsaKK6jMv21l5gy0A
                        TQHLz3d4MB8GA1UdIwQYMBaAFITTbIZYMHdiREysh4kURPIcsTtjMB0GA1UdDgQWBBTx
                        7WJieLfweWjzRuK0C3h85kAkFDAMBgNVHRMBAf8EAjAAMA4GA1UdDwEB/wQEAwID+DAg
                        BgNVHSUBAf8EFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwDQYJKoZIhvcNAQEFBQADggEB
                        AB/0Owko4yeTwYVmInPDL2jx425+DOYRMZe5OgjfzpXyHdYCR15sMEUbxLRUHXquBCzL
                        cT44nYxYpuUAhrG7vHYLpJYIjxEpM21LEqzGCTxdAe6cRnUCD4uB+zTxvXesQtaGoaUm
                        aJdjGsp9UtPrhbqa8F9aGGCw5ZpXnYTvpP42kys5aBWEgnlBZO4C/tVr8DsbYfeduLej
                        89vz1i8v+wHQGTcAopiG+rhqaa4s/0VEYWaNF3sbhDzmYLgE86xtb9IjOr8wXZlLdWDm
                        /S37YR6Y27cH+b3Vjv8IuLYt9ck6J4e0SoEjLa7PXHii44DuFv7PAmIir3+HAMeyGfK4
                        d/Y=
                        </data>
                        <key>private</key>
                        <data>
                        MIIEogIBAAKCAQEAyS1OfBaxaM/cHx0XteJTng0wedP2mTq4uebAya8qrI8jqHQD46wi
                        QMUmSCWu+ufTQVlsbzDD7IpY3WfteOzBK/U7wVFiCoMCN9F8/rcxKe6/Yt3IaGZsq/y8
                        RcGQ8txLsWYbcZptmXuQJXdcQ1OG6JN/9G5+oCo+KJIRTndpdH9upF/3Y5LFEFlFJ2nJ
                        GyI0GwQBaVV8k/ZltJ388/k2/ADvZw4lv5wy0YhLgvl+jMu67ITOPlZqeBvNZoJ+hnxf
                        JUerzgNZUsgP/2pg2B/gAK2Ymwij9S+GrM9J6m7wAJmEJUYPSnNsoxPn7o6/J8wgbtVg
                        UwjwXo4IHK3sUOeT9QIDAQABAoIBABU8BIRBivFSu1vHYNjQbl4I61x4nJdY5OWubxv6
                        ssjrBOsDb+OoqCbpCFzmKV2PebN0ombsIUoG4lFgZmb0qoEezfNeSTht0p6crJJgOL7B
                        1g6z9TLb2M2gjCjawRd5XD351py7naTtL25c9m6e0ucapo9g2FnEi7IRlOUQ4p8qolMl
                        hM7iVEZQC5lM6lSKHGV3zPAAt0D3s5V4rP9OJcC67AEs45E7JhAkdjwVwAlqTRXbiaqi
                        pF6dQUE27woeGcLfyKlbx7h4eBjnB20y0GfXVc9ZuEBTUpq0LTsMe0vYGkxS0TbwlqSK
                        8WlKVWnqCUbWevJStEiILfizA8j76HECgYEA5wylQQ/FJ4kz8i1ttoI8q0DyDd+QD05K
                        dFUE9ctODyYRMPF1sL2OLzFCr6rhZltuAxXz6s6067SWt72Ywym5Tt10u+VpzuFIj3i5
                        csha8Hg0x+HKrjnZJ5QFAH4swjHJ0o3KSjqVlTv8kpa7ko4NpTKPBKE4yiUR2f/41XZB
                        uv0CgYEA3ubWv0SuNWIgWZHOyf1yy3/k0vXT4yct1mzt7K49+ydPSfSzuQFJwIVBZPqH
                        vezaP6Zu2+rH2nWFkg/cdIvizVWzPSNettyXS6DoBaVApfAQ1j/WaKz5x/T02RP4E7SY
                        XLL1FEkkokYA0OJfS8B0sx8fMZGXpz4mP5WOYUIFelkCgYBn22xREZiqy+a4vqjpeCNz
                        S29CwzKLXsLjBfCD2A5PiuoBWRhxCNPn7LmwIxzMmN6brnuFGcODjBqPnz8SwyeUBsHZ
                        UCc+ok+uhjK+IMeX/kCjdKBZrpEpVETnUtAlvqGc7rV2plzkxyEid3T7TLVfg5l8GEhh
                        vUYH+yLMOSsUtQKBgBlMPacrllH8twszXzLRjwvFkiTXPZsUQUGKz14DUImGppsQKK2g
                        lcxB03AwduN5VDPRIdfXx6Lln6k6H50imzUOuu7/aqp6UrmEo5CwdqvemSqXyC/NIfQt
                        uvRALfGel4Q9007gFkZMh58tcf9Y8mW57IJlsb6LcS/aO3SSV6jRAoGAZGCpEDb2vJ78
                        eb0Z23DJkruuqCTdWAb6ba+HsV/eStWmcVOX4Eq2Al19s3g4EszY2QczsiqLCKBK+dlS
                        SOK55UrAucGEB/Al6Ze0s6nGqCsF4Opqwu4e42Ks3USIRGgVQMAYsDoo1rVK1UxhnF2I
                        1M+VN9ie/U3pgfY648LbyUQ=
                        </data>
                </dict>
                <key>user_id</key>
                <string>D:21635836012</string>
                <key>registration</key>
                <dict>
                        <key>com.apple.private.alloy.facetime.multi</key>
                        <dict>
                                <key>id_keypair</key>
                                <dict>
                                        <key>cert</key>
                                        <data>
                                        MIIHFTCCBf2gAwIBAgIQXjAp/OAiEfAXuu6GIB07EDANBgkqhkiG9w0BAQUFADBuMQsw
                                        CQYDVQQGEwJVUzETMBEGA1UECgwKQXBwbGUgSW5jLjESMBAGA1UECwwJQXBwbGUgSURT
                                        MREwDwYDVQQPDAhpZGVudGl0eTEjMCEGA1UEAwwaQXBwbGUgSURTIElkZW50aXR5IENB
                                        IC0gUjEwHhcNMjUxMjIzMDI0MjE3WhcNMjYwMjA2MTcxMTA2WjCB+DELMAkGA1UEBhMC
                                        VVMxEzARBgNVBAoMCkFwcGxlIEluYy4xLzAtBgNVBAsMJmNvbS5hcHBsZS5wcml2YXRl
                                        LmFsbG95LmZhY2V0aW1lLm11bHRpMQ4wDAYDVQQPDAVkcy1pZDEdMBsGCgmSJomT8ixk
                                        AQEMDUQ6MjE2MzU4MzYwMTIxdDByBgNVBAUTa2I6MkU1RDdCNUI0OUZFNUUyM0I4RkYz
                                        QjQzQ0UzOUY5Njk5MzU4MjFGQi81Q0RFMDcwOTlFQUYyMDk0RTc5RjYzOTE4RTQ2OUIz
                                        NTg0NzQ2NTZBRjcxQjc2RTdFMUFCMDJEOEVCQTI3Qjc2MIIBIjANBgkqhkiG9w0BAQEF
                                        AAOCAQ8AMIIBCgKCAQEAyS1OfBaxaM/cHx0XteJTng0wedP2mTq4uebAya8qrI8jqHQD
                                        46wiQMUmSCWu+ufTQVlsbzDD7IpY3WfteOzBK/U7wVFiCoMCN9F8/rcxKe6/Yt3IaGZs
                                        q/y8RcGQ8txLsWYbcZptmXuQJXdcQ1OG6JN/9G5+oCo+KJIRTndpdH9upF/3Y5LFEFlF
                                        J2nJGyI0GwQBaVV8k/ZltJ388/k2/ADvZw4lv5wy0YhLgvl+jMu67ITOPlZqeBvNZoJ+
                                        hnxfJUerzgNZUsgP/2pg2B/gAK2Ymwij9S+GrM9J6m7wAJmEJUYPSnNsoxPn7o6/J8wg
                                        btVgUwjwXo4IHK3sUOeT9QIDAQABo4IDIjCCAx4wggKaBgNVHREEggKRMIICjYYnbWFp
                                        bHRvOmplcnJ5bGFuZGdyZWVuQGNvcHBlci5qanRlY2guZGV2hh9tYWlsdG86Y29vcGVy
                                        QGNvcHBlci5qanRlY2guZGV2oC8GCiqGSIb3Y2QGBAYDIQBc3gcJnq8glOefY5GORps1
                                        hHRlavcbdufhqwLY66J7dqAfBgoqhkiG92NkBgQIAxEAXjAp/OAiEfAXuu6GIB07EKAs
                                        BgoqhkiG92NkBgQEAx4AAwAAAAIAAAADAAAAAQAAAAEAAAAAAAAGaAAAAACgggG/Bgoq
                                        hkiG92NkBgQHA4IBrwBGVVNQAEMbx27GrDQ7T/92lgt2SShtZOss1kBUZ+ZlcXNoPycN
                                        2cxry171ve/nmSpM/rPwtaEu08UywkBjgHN5K9HkRjXswrB8PtCetpkj1EmBDdMGb5V1
                                        XtCGO1q3QLP/C6zVspRUzyQGOmABBUxp3jGI3m+r6KzFeaY9RMrSs5VaypPVfYZZ20ZF
                                        W/TbLUzqWCns2cESSfSuDC4QSWKlrfU3osUpZepu1sojcpXdd8+caV6ZxRVVSaRJamcM
                                        R59KIV3q1/AP27mZRoaD0ufofdBlYjWdlunRbCRO7ucoPbhkdGk79oeNAz/dtTvMW0hm
                                        j20ZbkIG7Oy+Fpdlq+YiEbHDYHJWnOcpbgMX4rgcF2qjlxqT2N00bxErKD4jXd5JkDOm
                                        Snl5g3ZafKZQ9wV45nUbyYOeeXL/ImAj+8r4t7oZkJHi89lzmT8cBZoJevH1choha2LS
                                        vkD6MmbMK/LmuKLcPc3pNnxEAJRMyKIEZ/9teX44i6IdvzqXOwtTD29FTkIizb0r9l7d
                                        k0M5u9jGJtZ/gjSXUfCRwRpqhScfHjHLPv5/P5GVw0SsdCR+MB8GA1UdIwQYMBaAFMZ7
                                        ab5JwEEOwMirMjI45D+RQIvaMB0GA1UdDgQWBBTx7WJieLfweWjzRuK0C3h85kAkFDAM
                                        BgNVHRMBAf8EAjAAMA4GA1UdDwEB/wQEAwID+DAgBgNVHSUBAf8EFjAUBggrBgEFBQcD
                                        AQYIKwYBBQUHAwIwDQYJKoZIhvcNAQEFBQADggEBAEt73Gofj3k2F54RgpX07zTLvP37
                                        gkNYqNMiqepyQvMuWEzfWiL6QX2JEpiVeyNFCN43X2cVxsQF8A22q1LMIIDY4Uk/0Lwn
                                        VGk8mgZP0HBjP06bF3RxjRT2vJ1GFjt2Oyvuq4iG4MM840tAdAneUdKy2P8YzdOPMuZt
                                        tkoq/PC0YsS5a+lZkyAPJ9FZjnUnqgi3UgIkzK2pUFBRLiy3wm/L0a3LbIsDCFKBKXNz
                                        I7PXXTryUJgSM7aY8Wt0xA+ANdqfa4DlVnZz/CkYOPwM0zDFllJoRD0cN3ywbtPpesLT
                                        KO+YDZMb/fO70AHkVQ7dkhQkWUb93np7tGWvvVJ48tU=
                                        </data>
                                        <key>private</key>
                                        <data>
                                        MIIEogIBAAKCAQEAyS1OfBaxaM/cHx0XteJTng0wedP2mTq4uebAya8qrI8jqHQD46wi
                                        QMUmSCWu+ufTQVlsbzDD7IpY3WfteOzBK/U7wVFiCoMCN9F8/rcxKe6/Yt3IaGZsq/y8
                                        RcGQ8txLsWYbcZptmXuQJXdcQ1OG6JN/9G5+oCo+KJIRTndpdH9upF/3Y5LFEFlFJ2nJ
                                        GyI0GwQBaVV8k/ZltJ388/k2/ADvZw4lv5wy0YhLgvl+jMu67ITOPlZqeBvNZoJ+hnxf
                                        JUerzgNZUsgP/2pg2B/gAK2Ymwij9S+GrM9J6m7wAJmEJUYPSnNsoxPn7o6/J8wgbtVg
                                        UwjwXo4IHK3sUOeT9QIDAQABAoIBABU8BIRBivFSu1vHYNjQbl4I61x4nJdY5OWubxv6
                                        ssjrBOsDb+OoqCbpCFzmKV2PebN0ombsIUoG4lFgZmb0qoEezfNeSTht0p6crJJgOL7B
                                        1g6z9TLb2M2gjCjawRd5XD351py7naTtL25c9m6e0ucapo9g2FnEi7IRlOUQ4p8qolMl
                                        hM7iVEZQC5lM6lSKHGV3zPAAt0D3s5V4rP9OJcC67AEs45E7JhAkdjwVwAlqTRXbiaqi
                                        pF6dQUE27woeGcLfyKlbx7h4eBjnB20y0GfXVc9ZuEBTUpq0LTsMe0vYGkxS0TbwlqSK
                                        8WlKVWnqCUbWevJStEiILfizA8j76HECgYEA5wylQQ/FJ4kz8i1ttoI8q0DyDd+QD05K
                                        dFUE9ctODyYRMPF1sL2OLzFCr6rhZltuAxXz6s6067SWt72Ywym5Tt10u+VpzuFIj3i5
                                        csha8Hg0x+HKrjnZJ5QFAH4swjHJ0o3KSjqVlTv8kpa7ko4NpTKPBKE4yiUR2f/41XZB
                                        uv0CgYEA3ubWv0SuNWIgWZHOyf1yy3/k0vXT4yct1mzt7K49+ydPSfSzuQFJwIVBZPqH
                                        vezaP6Zu2+rH2nWFkg/cdIvizVWzPSNettyXS6DoBaVApfAQ1j/WaKz5x/T02RP4E7SY
                                        XLL1FEkkokYA0OJfS8B0sx8fMZGXpz4mP5WOYUIFelkCgYBn22xREZiqy+a4vqjpeCNz
                                        S29CwzKLXsLjBfCD2A5PiuoBWRhxCNPn7LmwIxzMmN6brnuFGcODjBqPnz8SwyeUBsHZ
                                        UCc+ok+uhjK+IMeX/kCjdKBZrpEpVETnUtAlvqGc7rV2plzkxyEid3T7TLVfg5l8GEhh
                                        vUYH+yLMOSsUtQKBgBlMPacrllH8twszXzLRjwvFkiTXPZsUQUGKz14DUImGppsQKK2g
                                        lcxB03AwduN5VDPRIdfXx6Lln6k6H50imzUOuu7/aqp6UrmEo5CwdqvemSqXyC/NIfQt
                                        uvRALfGel4Q9007gFkZMh58tcf9Y8mW57IJlsb6LcS/aO3SSV6jRAoGAZGCpEDb2vJ78
                                        eb0Z23DJkruuqCTdWAb6ba+HsV/eStWmcVOX4Eq2Al19s3g4EszY2QczsiqLCKBK+dlS
                                        SOK55UrAucGEB/Al6Ze0s6nGqCsF4Opqwu4e42Ks3USIRGgVQMAYsDoo1rVK1UxhnF2I
                                        1M+VN9ie/U3pgfY648LbyUQ=
                                        </data>
                                </dict>
                                <key>handles</key>
                                <array>
                                        <string>mailto:jerrylandgreen@copper.jjtech.dev</string>
                                        <string>mailto:cooper@copper.jjtech.dev</string>
                                </array>
                                <key>registered_at_s</key>
                                <integer>1766509866</integer>
                                <key>data_hash</key>
                                <integer>5533737722925015353</integer>
                        </dict>
                        <key>com.apple.private.alloy.multiplex1</key>
                        <dict>
                                <key>id_keypair</key>
                                <dict>
                                        <key>cert</key>
                                        <data>
                                        MIIHQTCCBimgAwIBAgIQXjAp++AiEfAXuu6GIB07DTANBgkqhkiG9w0BAQUFADBuMQsw
                                        CQYDVQQGEwJVUzETMBEGA1UECgwKQXBwbGUgSW5jLjESMBAGA1UECwwJQXBwbGUgSURT
                                        MREwDwYDVQQPDAhpZGVudGl0eTEjMCEGA1UEAwwaQXBwbGUgSURTIElkZW50aXR5IENB
                                        IC0gUjEwHhcNMjUxMjIzMDI0MjE3WhcNMjYwMjA2MTcxMTA2WjCB9DELMAkGA1UEBhMC
                                        VVMxEzARBgNVBAoMCkFwcGxlIEluYy4xKzApBgNVBAsMImNvbS5hcHBsZS5wcml2YXRl
                                        LmFsbG95Lm11bHRpcGxleDExDjAMBgNVBA8MBWRzLWlkMR0wGwYKCZImiZPyLGQBAQwN
                                        RDoyMTYzNTgzNjAxMjF0MHIGA1UEBRNrYjoyRTVEN0I1QjQ5RkU1RTIzQjhGRjNCNDND
                                        RTM5Rjk2OTkzNTgyMUZCLzVDREUwNzA5OUVBRjIwOTRFNzlGNjM5MThFNDY5QjM1ODQ3
                                        NDY1NkFGNzFCNzZFN0UxQUIwMkQ4RUJBMjdCNzYwggEiMA0GCSqGSIb3DQEBAQUAA4IB
                                        DwAwggEKAoIBAQDJLU58FrFoz9wfHRe14lOeDTB50/aZOri55sDJryqsjyOodAPjrCJA
                                        xSZIJa7659NBWWxvMMPsiljdZ+147MEr9TvBUWIKgwI30Xz+tzEp7r9i3choZmyr/LxF
                                        wZDy3EuxZhtxmm2Ze5Ald1xDU4bok3/0bn6gKj4okhFOd2l0f26kX/djksUQWUUnackb
                                        IjQbBAFpVXyT9mW0nfzz+Tb8AO9nDiW/nDLRiEuC+X6My7rshM4+Vmp4G81mgn6GfF8l
                                        R6vOA1lSyA//amDYH+AArZibCKP1L4asz0nqbvAAmYQlRg9Kc2yjE+fujr8nzCBu1WBT
                                        CPBejggcrexQ55P1AgMBAAGjggNSMIIDTjCCAsoGA1UdEQSCAsEwggK9hidtYWlsdG86
                                        amVycnlsYW5kZ3JlZW5AY29wcGVyLmpqdGVjaC5kZXaGH21haWx0bzpjb29wZXJAY29w
                                        cGVyLmpqdGVjaC5kZXagLwYKKoZIhvdjZAYEBgMhAFzeBwmeryCU559jkY5GmzWEdGVq
                                        9xt25+GrAtjront2oB8GCiqGSIb3Y2QGBAgDEQBeMCn74CIR8Be67oYgHTsNoFwGCiqG
                                        SIb3Y2QGBAQDTgADAAAABgAAAAUAAAABAAAAAQAAAAAAAAZoAAAAAAAAAKwAAAZoAAAA
                                        AAAAALAAAAZoAAAAAAAAAIEAAAZoAAAAAAAAAD4AAAZoAAAAAKCCAb8GCiqGSIb3Y2QG
                                        BAcDggGvAEZVU1AADXnj3casNDtP/3aWC3ZJKK7c9/1CNJpSo/qOl1WedzwJDu17wKwW
                                        hybYmxBv+5Yzw9GbnMIVbTbTv8jWDevQMevKAEnzbZW2EZfTj5gG1QQCybKbQZcaoDuz
                                        +A2YEkRu5/ehJE+60CL08uEhkV1pLhw+FMSUvRHfomD/rGMBf4bYNO3Nk179gfjI+xxQ
                                        4QAZHPtgP40QkIZ++guawIGKV9Bk8gA0a3z1RasXOaRr28ab83bGqR6JAxKW+KEEA7r3
                                        1MeoAeX1vtEUssxL9Afwjvhwzj3UIVgJYHk+3JUYgxoC4OReXVRoOC2GdstK+Pp145dq
                                        MSjD0UJzc5r7CTIuZ+U7VE1TbfGfVMYzJTGli90ZxlCkOuPH8iJRKcO3u1PVVqxWcnOU
                                        WhOnh7Ue0D9VUaD7CkmwrDg9OJLI6PXz7RQ0AKJ+HySWJOSAH1nCHo71sjkzzPa1Lvp+
                                        NIFcWyoK+Oc848/U7zp8URD+9ny2CasNWDndU/0x3VyHOLSWstE5tOTbqU0rOXNt+opA
                                        4LKBXlj07ssXD2VQqQVzNbOe9Sx0kFsqnBMq3GswHwYDVR0jBBgwFoAUxntpvknAQQ7A
                                        yKsyMjjkP5FAi9owHQYDVR0OBBYEFPHtYmJ4t/B5aPNG4rQLeHzmQCQUMAwGA1UdEwEB
                                        /wQCMAAwDgYDVR0PAQH/BAQDAgP4MCAGA1UdJQEB/wQWMBQGCCsGAQUFBwMBBggrBgEF
                                        BQcDAjANBgkqhkiG9w0BAQUFAAOCAQEAJ05qCdgOQdfBzO83yxhVfDUr9h9XkZPfRPLQ
                                        5UobrPw/vXeyDvmBsguOgQGvh8my5nl5VROwdRlYVRdYNjVpNfwNpHBzwazbnORQKBkP
                                        AFyDAikWlM0qe69OUwkYfgdptnNWVjUqV0Yhn5BlsZpRYsNfhq6n0HeW8/o5wbevXXGc
                                        HpDAB5c8CpxkC7KKy44Hyi/Nlwi5Jxbb4VeRRyfq6co+m8V44J31pSpGFm7DTtZtCAMC
                                        ECA37XVEXhYO3k0tQzuMYyq1uURcTRt5l9UDstRWyBVXTpjDa8yIGdONCw9kdOnuxbFl
                                        chq8yanfwoid/dTwE1x2UvP+XqsiiAqtRw==
                                        </data>
                                        <key>private</key>
                                        <data>
                                        MIIEogIBAAKCAQEAyS1OfBaxaM/cHx0XteJTng0wedP2mTq4uebAya8qrI8jqHQD46wi
                                        QMUmSCWu+ufTQVlsbzDD7IpY3WfteOzBK/U7wVFiCoMCN9F8/rcxKe6/Yt3IaGZsq/y8
                                        RcGQ8txLsWYbcZptmXuQJXdcQ1OG6JN/9G5+oCo+KJIRTndpdH9upF/3Y5LFEFlFJ2nJ
                                        GyI0GwQBaVV8k/ZltJ388/k2/ADvZw4lv5wy0YhLgvl+jMu67ITOPlZqeBvNZoJ+hnxf
                                        JUerzgNZUsgP/2pg2B/gAK2Ymwij9S+GrM9J6m7wAJmEJUYPSnNsoxPn7o6/J8wgbtVg
                                        UwjwXo4IHK3sUOeT9QIDAQABAoIBABU8BIRBivFSu1vHYNjQbl4I61x4nJdY5OWubxv6
                                        ssjrBOsDb+OoqCbpCFzmKV2PebN0ombsIUoG4lFgZmb0qoEezfNeSTht0p6crJJgOL7B
                                        1g6z9TLb2M2gjCjawRd5XD351py7naTtL25c9m6e0ucapo9g2FnEi7IRlOUQ4p8qolMl
                                        hM7iVEZQC5lM6lSKHGV3zPAAt0D3s5V4rP9OJcC67AEs45E7JhAkdjwVwAlqTRXbiaqi
                                        pF6dQUE27woeGcLfyKlbx7h4eBjnB20y0GfXVc9ZuEBTUpq0LTsMe0vYGkxS0TbwlqSK
                                        8WlKVWnqCUbWevJStEiILfizA8j76HECgYEA5wylQQ/FJ4kz8i1ttoI8q0DyDd+QD05K
                                        dFUE9ctODyYRMPF1sL2OLzFCr6rhZltuAxXz6s6067SWt72Ywym5Tt10u+VpzuFIj3i5
                                        csha8Hg0x+HKrjnZJ5QFAH4swjHJ0o3KSjqVlTv8kpa7ko4NpTKPBKE4yiUR2f/41XZB
                                        uv0CgYEA3ubWv0SuNWIgWZHOyf1yy3/k0vXT4yct1mzt7K49+ydPSfSzuQFJwIVBZPqH
                                        vezaP6Zu2+rH2nWFkg/cdIvizVWzPSNettyXS6DoBaVApfAQ1j/WaKz5x/T02RP4E7SY
                                        XLL1FEkkokYA0OJfS8B0sx8fMZGXpz4mP5WOYUIFelkCgYBn22xREZiqy+a4vqjpeCNz
                                        S29CwzKLXsLjBfCD2A5PiuoBWRhxCNPn7LmwIxzMmN6brnuFGcODjBqPnz8SwyeUBsHZ
                                        UCc+ok+uhjK+IMeX/kCjdKBZrpEpVETnUtAlvqGc7rV2plzkxyEid3T7TLVfg5l8GEhh
                                        vUYH+yLMOSsUtQKBgBlMPacrllH8twszXzLRjwvFkiTXPZsUQUGKz14DUImGppsQKK2g
                                        lcxB03AwduN5VDPRIdfXx6Lln6k6H50imzUOuu7/aqp6UrmEo5CwdqvemSqXyC/NIfQt
                                        uvRALfGel4Q9007gFkZMh58tcf9Y8mW57IJlsb6LcS/aO3SSV6jRAoGAZGCpEDb2vJ78
                                        eb0Z23DJkruuqCTdWAb6ba+HsV/eStWmcVOX4Eq2Al19s3g4EszY2QczsiqLCKBK+dlS
                                        SOK55UrAucGEB/Al6Ze0s6nGqCsF4Opqwu4e42Ks3USIRGgVQMAYsDoo1rVK1UxhnF2I
                                        1M+VN9ie/U3pgfY648LbyUQ=
                                        </data>
                                </dict>
                                <key>handles</key>
                                <array>
                                        <string>mailto:jerrylandgreen@copper.jjtech.dev</string>
                                        <string>mailto:cooper@copper.jjtech.dev</string>
                                </array>
                                <key>registered_at_s</key>
                                <integer>1766509866</integer>
                                <key>data_hash</key>
                                <integer>4756997147551586280</integer>
                        </dict>
                        <key>com.apple.madrid</key>
                        <dict>
                                <key>id_keypair</key>
                                <dict>
                                        <key>cert</key>
                                        <data>
                                        MIIHKDCCBhCgAwIBAgIQXjAp+uAiEfAXuu6GIB07AzANBgkqhkiG9w0BAQUFADBuMQsw
                                        CQYDVQQGEwJVUzETMBEGA1UECgwKQXBwbGUgSW5jLjESMBAGA1UECwwJQXBwbGUgSURT
                                        MREwDwYDVQQPDAhpZGVudGl0eTEjMCEGA1UEAwwaQXBwbGUgSURTIElkZW50aXR5IENB
                                        IC0gUjEwHhcNMjUxMjIzMDI0MjE3WhcNMjYwMjA2MTcxMTA2WjCB2zELMAkGA1UEBhMC
                                        VVMxEzARBgNVBAoMCkFwcGxlIEluYy4xEjAQBgNVBAsMCU1lc3NlbmdlcjEOMAwGA1UE
                                        DwwFZHMtaWQxHTAbBgoJkiaJk/IsZAEBDA1EOjIxNjM1ODM2MDEyMXQwcgYDVQQFE2ti
                                        OjJFNUQ3QjVCNDlGRTVFMjNCOEZGM0I0M0NFMzlGOTY5OTM1ODIxRkIvNUNERTA3MDk5
                                        RUFGMjA5NEU3OUY2MzkxOEU0NjlCMzU4NDc0NjU2QUY3MUI3NkU3RTFBQjAyRDhFQkEy
                                        N0I3NjCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMktTnwWsWjP3B8dF7Xi
                                        U54NMHnT9pk6uLnmwMmvKqyPI6h0A+OsIkDFJkglrvrn00FZbG8ww+yKWN1n7XjswSv1
                                        O8FRYgqDAjfRfP63MSnuv2LdyGhmbKv8vEXBkPLcS7FmG3GabZl7kCV3XENThuiTf/Ru
                                        fqAqPiiSEU53aXR/bqRf92OSxRBZRSdpyRsiNBsEAWlVfJP2ZbSd/PP5NvwA72cOJb+c
                                        MtGIS4L5fozLuuyEzj5WangbzWaCfoZ8XyVHq84DWVLID/9qYNgf4ACtmJsIo/UvhqzP
                                        Sepu8ACZhCVGD0pzbKMT5+6OvyfMIG7VYFMI8F6OCByt7FDnk/UCAwEAAaOCA1IwggNO
                                        MIICygYDVR0RBIICwTCCAr2GJ21haWx0bzpqZXJyeWxhbmRncmVlbkBjb3BwZXIuamp0
                                        ZWNoLmRldoYfbWFpbHRvOmNvb3BlckBjb3BwZXIuamp0ZWNoLmRldqAvBgoqhkiG92Nk
                                        BgQGAyEAXN4HCZ6vIJTnn2ORjkabNYR0ZWr3G3bn4asC2Ouie3agHwYKKoZIhvdjZAYE
                                        CAMRAF4wKfrgIhHwF7ruhiAdOwOgXAYKKoZIhvdjZAYEBANOAAMAAAAGAAAABAAAAAEA
                                        AAARAAAAAAAABmgAAAAAAAAAeAAABmgAAAAAAAAAgQAABmgAAAAAAAAAegAABmgAAAAA
                                        AAAAfQAABmgAAAAAoIIBvwYKKoZIhvdjZAYEBwOCAa8ARlVTUAB6BQqvxqw0O0//dpYL
                                        dkkoLXN/+iGw/CrRtZAH5rhjmvV3QZnLYCRmAhx//I1WyyRhZf8+X6iZRwFyoAxAVKXU
                                        I4zC7CLogAjbCAwAb8k/H15fhTuICuCz6JG+xhky8ZabtmLAi0LNHDxMj7lNuWeaiziV
                                        kTd1TpQNrfccaZY3GVmkT4qwaZ0bwC1Uc/OfJxanEamcvTH6eSwjrCGpTkpX+vMmohbs
                                        NQ+0BJ4HxsA6bmujCY2qY3gdGK9JTM0UMdJNUhWUYdd6woeNb0Wc7hk3gy+eOn9ikhQX
                                        e/WN0DBWxCyQ/fzB2+WWqjuSFwqB7Kchtbjb3p3+U9ecQwwvR1RgGawuuqYxV5tIprrC
                                        gs5I0AqDANcGsywZyVd9ffUia0wjjU3B/+Q7R7UMuy/h9R8ynOP5zYvdLAPCokecUEoV
                                        AGI4A2BI2muNOkyjlidiR0ZfrcTqKzZfLe/yNkTXW6x4M++LkAPa8cMCWk6zeSI0j394
                                        pzoS/dj7CtaBhP2MbsOC1a7hpJVMP1qrgBxnBZxJLJ8cY8t0x76fm9nQJNVy0lNJkuQJ
                                        4JneJDAfBgNVHSMEGDAWgBTGe2m+ScBBDsDIqzIyOOQ/kUCL2jAdBgNVHQ4EFgQU8e1i
                                        Yni38Hlo80bitAt4fOZAJBQwDAYDVR0TAQH/BAIwADAOBgNVHQ8BAf8EBAMCA/gwIAYD
                                        VR0lAQH/BBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMA0GCSqGSIb3DQEBBQUAA4IBAQAK
                                        4PF70tTgCVPIQl0+Vv9tlwmgdllShh/kCwkbzOZMbji9TzkLG0wpKqbU6TTuYfUeQ8YE
                                        icUyRwxXws3zDC7eF8kumtsXqQaSOvwOMCqCxLxMKvkqw9uWIpMzZKRasZL6AoMjrYQI
                                        kJ3Ic3KikqOo4yZHCE9fxMdh2UVfUh3k1wxGRM2w+alVrXobz4JjkRywIgU0wHpxhlRV
                                        qhHyJf6+SH35WP5V20bxFOWLC/POXMAnbbi2IMu3Dl8xQhd190/nUu79/veHur4m6rFq
                                        WqY+1lYzjRr39eo4i1X+E7k8F+tK9yDV93nNZ6KQNw7wch5joyIuOrWm24bTF1UUkUW/
                                        </data>
                                        <key>private</key>
                                        <data>
                                        MIIEogIBAAKCAQEAyS1OfBaxaM/cHx0XteJTng0wedP2mTq4uebAya8qrI8jqHQD46wi
                                        QMUmSCWu+ufTQVlsbzDD7IpY3WfteOzBK/U7wVFiCoMCN9F8/rcxKe6/Yt3IaGZsq/y8
                                        RcGQ8txLsWYbcZptmXuQJXdcQ1OG6JN/9G5+oCo+KJIRTndpdH9upF/3Y5LFEFlFJ2nJ
                                        GyI0GwQBaVV8k/ZltJ388/k2/ADvZw4lv5wy0YhLgvl+jMu67ITOPlZqeBvNZoJ+hnxf
                                        JUerzgNZUsgP/2pg2B/gAK2Ymwij9S+GrM9J6m7wAJmEJUYPSnNsoxPn7o6/J8wgbtVg
                                        UwjwXo4IHK3sUOeT9QIDAQABAoIBABU8BIRBivFSu1vHYNjQbl4I61x4nJdY5OWubxv6
                                        ssjrBOsDb+OoqCbpCFzmKV2PebN0ombsIUoG4lFgZmb0qoEezfNeSTht0p6crJJgOL7B
                                        1g6z9TLb2M2gjCjawRd5XD351py7naTtL25c9m6e0ucapo9g2FnEi7IRlOUQ4p8qolMl
                                        hM7iVEZQC5lM6lSKHGV3zPAAt0D3s5V4rP9OJcC67AEs45E7JhAkdjwVwAlqTRXbiaqi
                                        pF6dQUE27woeGcLfyKlbx7h4eBjnB20y0GfXVc9ZuEBTUpq0LTsMe0vYGkxS0TbwlqSK
                                        8WlKVWnqCUbWevJStEiILfizA8j76HECgYEA5wylQQ/FJ4kz8i1ttoI8q0DyDd+QD05K
                                        dFUE9ctODyYRMPF1sL2OLzFCr6rhZltuAxXz6s6067SWt72Ywym5Tt10u+VpzuFIj3i5
                                        csha8Hg0x+HKrjnZJ5QFAH4swjHJ0o3KSjqVlTv8kpa7ko4NpTKPBKE4yiUR2f/41XZB
                                        uv0CgYEA3ubWv0SuNWIgWZHOyf1yy3/k0vXT4yct1mzt7K49+ydPSfSzuQFJwIVBZPqH
                                        vezaP6Zu2+rH2nWFkg/cdIvizVWzPSNettyXS6DoBaVApfAQ1j/WaKz5x/T02RP4E7SY
                                        XLL1FEkkokYA0OJfS8B0sx8fMZGXpz4mP5WOYUIFelkCgYBn22xREZiqy+a4vqjpeCNz
                                        S29CwzKLXsLjBfCD2A5PiuoBWRhxCNPn7LmwIxzMmN6brnuFGcODjBqPnz8SwyeUBsHZ
                                        UCc+ok+uhjK+IMeX/kCjdKBZrpEpVETnUtAlvqGc7rV2plzkxyEid3T7TLVfg5l8GEhh
                                        vUYH+yLMOSsUtQKBgBlMPacrllH8twszXzLRjwvFkiTXPZsUQUGKz14DUImGppsQKK2g
                                        lcxB03AwduN5VDPRIdfXx6Lln6k6H50imzUOuu7/aqp6UrmEo5CwdqvemSqXyC/NIfQt
                                        uvRALfGel4Q9007gFkZMh58tcf9Y8mW57IJlsb6LcS/aO3SSV6jRAoGAZGCpEDb2vJ78
                                        eb0Z23DJkruuqCTdWAb6ba+HsV/eStWmcVOX4Eq2Al19s3g4EszY2QczsiqLCKBK+dlS
                                        SOK55UrAucGEB/Al6Ze0s6nGqCsF4Opqwu4e42Ks3USIRGgVQMAYsDoo1rVK1UxhnF2I
                                        1M+VN9ie/U3pgfY648LbyUQ=
                                        </data>
                                </dict>
                                <key>handles</key>
                                <array>
                                        <string>mailto:jerrylandgreen@copper.jjtech.dev</string>
                                        <string>mailto:cooper@copper.jjtech.dev</string>
                                </array>
                                <key>registered_at_s</key>
                                <integer>1766509866</integer>
                                <key>data_hash</key>
                                <integer>5591053237194338696</integer>
                        </dict>
                        <key>com.apple.ess</key>
                        <dict>
                                <key>id_keypair</key>
                                <dict>
                                        <key>cert</key>
                                        <data>
                                        MIIHGzCCBgOgAwIBAgIQXjAp/eAiEfAXuu6GIB07ATANBgkqhkiG9w0BAQUFADBuMQsw
                                        CQYDVQQGEwJVUzETMBEGA1UECgwKQXBwbGUgSW5jLjESMBAGA1UECwwJQXBwbGUgSURT
                                        MREwDwYDVQQPDAhpZGVudGl0eTEjMCEGA1UEAwwaQXBwbGUgSURTIElkZW50aXR5IENB
                                        IC0gUjEwHhcNMjUxMjIzMDI0MjE3WhcNMjYwMjA2MTcxMTA2WjCB2jELMAkGA1UEBhMC
                                        VVMxEzARBgNVBAoMCkFwcGxlIEluYy4xETAPBgNVBAsMCEZhY2VUaW1lMQ4wDAYDVQQP
                                        DAVkcy1pZDEdMBsGCgmSJomT8ixkAQEMDUQ6MjE2MzU4MzYwMTIxdDByBgNVBAUTa2I6
                                        MkU1RDdCNUI0OUZFNUUyM0I4RkYzQjQzQ0UzOUY5Njk5MzU4MjFGQi81Q0RFMDcwOTlF
                                        QUYyMDk0RTc5RjYzOTE4RTQ2OUIzNTg0NzQ2NTZBRjcxQjc2RTdFMUFCMDJEOEVCQTI3
                                        Qjc2MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAyS1OfBaxaM/cHx0XteJT
                                        ng0wedP2mTq4uebAya8qrI8jqHQD46wiQMUmSCWu+ufTQVlsbzDD7IpY3WfteOzBK/U7
                                        wVFiCoMCN9F8/rcxKe6/Yt3IaGZsq/y8RcGQ8txLsWYbcZptmXuQJXdcQ1OG6JN/9G5+
                                        oCo+KJIRTndpdH9upF/3Y5LFEFlFJ2nJGyI0GwQBaVV8k/ZltJ388/k2/ADvZw4lv5wy
                                        0YhLgvl+jMu67ITOPlZqeBvNZoJ+hnxfJUerzgNZUsgP/2pg2B/gAK2Ymwij9S+GrM9J
                                        6m7wAJmEJUYPSnNsoxPn7o6/J8wgbtVgUwjwXo4IHK3sUOeT9QIDAQABo4IDRjCCA0Iw
                                        ggK+BgNVHREEggK1MIICsYYnbWFpbHRvOmplcnJ5bGFuZGdyZWVuQGNvcHBlci5qanRl
                                        Y2guZGV2hh9tYWlsdG86Y29vcGVyQGNvcHBlci5qanRlY2guZGV2oC8GCiqGSIb3Y2QG
                                        BAYDIQBc3gcJnq8glOefY5GORps1hHRlavcbdufhqwLY66J7dqAfBgoqhkiG92NkBgQI
                                        AxEAXjAp/eAiEfAXuu6GIB07AaBQBgoqhkiG92NkBgQEA0IAAwAAAAUAAAADAAAAAQAA
                                        AAEAAAAAAAAGaAAAAAAAAAB9AAAGaAAAAAAAAAB+AAAGaAAAAAAAAAB/AAAGaAAAAACg
                                        ggG/BgoqhkiG92NkBgQHA4IBrwBGVVNQAKFpDUXGrDQ7T/92lgt2SSgMehROcqolg+DJ
                                        G9QjHz/XRkuip4Jm9LXRN9rVdMZmBcERZEx+eU7VbiypOzQyodtWYmU0+kwRHXnD8Aiq
                                        LhIq36HdleVue3OWfyGdscilY5XEvwTJ9Cb1ZuOuvyUJsVjYkisGNoIbb4nd8o66vJzI
                                        8ybhCYOckVCvCVrniTpFWIp7hWXPB7keDOQTTV1kR3Jr0w30taJouvvDeCstR5sFTjwy
                                        1U4X81Sllm1ypTTZPQb/KMEZJ2y87zlG2H+5Gfgw9yzLLVuFGaaZ7tWtaGWWrEv5ntjp
                                        nx016GN3nznEAfbmBY6XMx9wRgh+YoINUTNL6NfrIocVXsuh7LKxTQgHit2zZI0+d/2W
                                        /OIqDyAC1J/rgkFsgoRZGcYCnq1kbLKglEphpbjb+oTRWPS3sT2ma4hFNqbrmeY8Ea9W
                                        nhCULmZq/ASqiYnRe9dkTXKeJkFSLu7BkvirKUA4yRdbdTkgp6onm1cCX+47a1yi6Ybk
                                        +QiWg03dk7EbSrPLgN0DeFFaq/skVk27j9l8mRj113wIQN7lAeWlkeaiMB8GA1UdIwQY
                                        MBaAFMZ7ab5JwEEOwMirMjI45D+RQIvaMB0GA1UdDgQWBBTx7WJieLfweWjzRuK0C3h8
                                        5kAkFDAMBgNVHRMBAf8EAjAAMA4GA1UdDwEB/wQEAwID+DAgBgNVHSUBAf8EFjAUBggr
                                        BgEFBQcDAQYIKwYBBQUHAwIwDQYJKoZIhvcNAQEFBQADggEBABL74wQzYQSCmMzrOJZd
                                        ATpJOrwTIvnTr7BO7oRP2AjGLHJPNZmmgw2Ms/vwFXO7Mv1kWFdLJTyg0vSGVKQf8KIy
                                        h7PmHcxK5xvaWcnuyH8XOjtdmMBBcC2L5mwN964yAvKs13QzXP02kb47jm4ExV7LLG31
                                        bZLRTPjobZe1FcmXkSe6Kd09s6vgqPO/DWrOXhcf1w3kyfT4x7IQAZ64gCYTCMmwI7Dx
                                        jn4UnqZCD9pN7axrqFt2DxyQOw5RKu3b4vVg0nTgpmRA8Ut2/1DBVF7q6i/VUxC8d+Rx
                                        53S/dC4in6r4Cn9g5B/V2ViLYvziHBWTtsjHcLQNDObq39OqL6M=
                                        </data>
                                        <key>private</key>
                                        <data>
                                        MIIEogIBAAKCAQEAyS1OfBaxaM/cHx0XteJTng0wedP2mTq4uebAya8qrI8jqHQD46wi
                                        QMUmSCWu+ufTQVlsbzDD7IpY3WfteOzBK/U7wVFiCoMCN9F8/rcxKe6/Yt3IaGZsq/y8
                                        RcGQ8txLsWYbcZptmXuQJXdcQ1OG6JN/9G5+oCo+KJIRTndpdH9upF/3Y5LFEFlFJ2nJ
                                        GyI0GwQBaVV8k/ZltJ388/k2/ADvZw4lv5wy0YhLgvl+jMu67ITOPlZqeBvNZoJ+hnxf
                                        JUerzgNZUsgP/2pg2B/gAK2Ymwij9S+GrM9J6m7wAJmEJUYPSnNsoxPn7o6/J8wgbtVg
                                        UwjwXo4IHK3sUOeT9QIDAQABAoIBABU8BIRBivFSu1vHYNjQbl4I61x4nJdY5OWubxv6
                                        ssjrBOsDb+OoqCbpCFzmKV2PebN0ombsIUoG4lFgZmb0qoEezfNeSTht0p6crJJgOL7B
                                        1g6z9TLb2M2gjCjawRd5XD351py7naTtL25c9m6e0ucapo9g2FnEi7IRlOUQ4p8qolMl
                                        hM7iVEZQC5lM6lSKHGV3zPAAt0D3s5V4rP9OJcC67AEs45E7JhAkdjwVwAlqTRXbiaqi
                                        pF6dQUE27woeGcLfyKlbx7h4eBjnB20y0GfXVc9ZuEBTUpq0LTsMe0vYGkxS0TbwlqSK
                                        8WlKVWnqCUbWevJStEiILfizA8j76HECgYEA5wylQQ/FJ4kz8i1ttoI8q0DyDd+QD05K
                                        dFUE9ctODyYRMPF1sL2OLzFCr6rhZltuAxXz6s6067SWt72Ywym5Tt10u+VpzuFIj3i5
                                        csha8Hg0x+HKrjnZJ5QFAH4swjHJ0o3KSjqVlTv8kpa7ko4NpTKPBKE4yiUR2f/41XZB
                                        uv0CgYEA3ubWv0SuNWIgWZHOyf1yy3/k0vXT4yct1mzt7K49+ydPSfSzuQFJwIVBZPqH
                                        vezaP6Zu2+rH2nWFkg/cdIvizVWzPSNettyXS6DoBaVApfAQ1j/WaKz5x/T02RP4E7SY
                                        XLL1FEkkokYA0OJfS8B0sx8fMZGXpz4mP5WOYUIFelkCgYBn22xREZiqy+a4vqjpeCNz
                                        S29CwzKLXsLjBfCD2A5PiuoBWRhxCNPn7LmwIxzMmN6brnuFGcODjBqPnz8SwyeUBsHZ
                                        UCc+ok+uhjK+IMeX/kCjdKBZrpEpVETnUtAlvqGc7rV2plzkxyEid3T7TLVfg5l8GEhh
                                        vUYH+yLMOSsUtQKBgBlMPacrllH8twszXzLRjwvFkiTXPZsUQUGKz14DUImGppsQKK2g
                                        lcxB03AwduN5VDPRIdfXx6Lln6k6H50imzUOuu7/aqp6UrmEo5CwdqvemSqXyC/NIfQt
                                        uvRALfGel4Q9007gFkZMh58tcf9Y8mW57IJlsb6LcS/aO3SSV6jRAoGAZGCpEDb2vJ78
                                        eb0Z23DJkruuqCTdWAb6ba+HsV/eStWmcVOX4Eq2Al19s3g4EszY2QczsiqLCKBK+dlS
                                        SOK55UrAucGEB/Al6Ze0s6nGqCsF4Opqwu4e42Ks3USIRGgVQMAYsDoo1rVK1UxhnF2I
                                        1M+VN9ie/U3pgfY648LbyUQ=
                                        </data>
                                </dict>
                                <key>handles</key>
                                <array>
                                        <string>mailto:jerrylandgreen@copper.jjtech.dev</string>
                                        <string>mailto:cooper@copper.jjtech.dev</string>
                                </array>
                                <key>registered_at_s</key>
                                <integer>1766509866</integer>
                                <key>data_hash</key>
                                <integer>1508220850752086613</integer>
                        </dict>
                </dict>
                <key>user_type</key>
                <string>Apple</string>
                <key>protocol_version</key>
                <integer>1640</integer>
        </dict>
</array>
</plist>